{% load static %}
{% block headerinclude %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content />
<meta name="author" content />
<title>Lokal</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="{% static 'LokalApp/assets/favicon.ico'%}" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link rel="stylesheet" href="{% static 'LokalApp/css/styles1.css'%}" />
<link rel="stylesheet" href="{% static 'LokalApp/css/styles.css'%}" />
{% endblock headerinclude %}

{% block footerinclude %}
<script src="{% static 'LokalApp/js/bootstrap.min.js'%}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static 'LokalApp/js/custom-general.js'%}"></script>
<script src="{% static 'LokalApp/js/scripts.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock footerinclude %}


{% block content %}
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Lokal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    {% if user.is_authenticated and user.is_admin %}
                    <li class="nav-item"> <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/feature">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactUs">Contact Us</a></li>
                </ul>
                {% if user.is_authenticated %}
                <li class="nav-item " style="list-style: none; padding-right: 20px;"> <b>Welcome, {{user.firstname}}!</b>
                </li>
                <a href="/cart" style="padding-right: 10px;"><img
                        src="https://img.icons8.com/material-outlined/24/000000/shopping-cart--v1.png" /> </a>
                <a href="/logout" class="btn btn-outline-dark">Logout</a>
                {% else %}
                <a href="/login" class="btn btn-outline-dark">Login</a>
                <a href="/signup" class="btn btn-outline-dark">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <header class="bg-dark py-5" style="
    background-blend-mode: overlay;
    background-color: black;
    background-image: url('https://scontent.fceb1-3.fna.fbcdn.net/v/t1.15752-9/243917953_840191996643393_8310667383317156830_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeGtxi6-TjQ8gaPfaoAZQrFPajC-G-FNBelqML4b4U0F6dZoCDpeKWAYTblEL5c73DeeNvD_kOUxcwREtThboqJJ&_nc_ohc=w3Xz00UzHxEAX8MRVNt&_nc_ht=scontent.fceb1-3.fna&oh=3045cb8456aea464a08ce9198b3937ff&oe=61828195');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">Shop Locally</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="container mt-5 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="p-2">
                            <h4>Shopping cart</h4>
                           
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                            <div class="mr-1"><h5></h5></div>
                            <div class="d-flex flex-column align-items-center product-details"><span
                                    class="font-weight-bold"></span>
                                <div class="d-flex flex-row product-desc">
                                    <div class="size mr-1"> <h5 class="text-grey" style="margin-left: 65px;">Item</h5></div>
                                   
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                                <h5 class="text-grey mt-1 mr-1" style="margin-left: 0px; padding-right: 0px;">Qty</h5><i class="fa fa-plus text-success"></i>
                            </div>
                            <div>
                                <h5 class="text-grey mt-1 mr-1" style="margin-left: 0px;">Price</h5>
                            </div>
                            <div class="d-flex align-items-center"><i class="fa fa-trash mb-1 text-danger"></i></div>
                        </div>
                        {% for item in cartItems %}
                        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                            <div class="mr-1"><img class="rounded" src="{{item.item_code.image}}" width="70">
                            </div>
                            <div class="d-flex flex-column align-items-center product-details"><span
                                    class="font-weight-bold"><b>{{item.item_code.name}}</b></span>
                                <div class="d-flex flex-row product-desc">
                                    <div class="size mr-1"><span
                                            class="font-weight-bold">&nbsp;Product Code: {{item.item_code.item_code}}</span></div>
                                   
                                </div>
                            </div>
                            <form method="POST" action="{% url 'Lokalapp:qtyCounter' item.item_code.item_code %}">
                                {% csrf_token %}
                            <div class="d-flex flex-row align-items-center qty"><i class="fa fa-minus text-danger"></i>
                                <button class="plus-btn btn btn-sm btn-outline-primary" style="margin-right: 5px;" type="SUBMIT" name="minus" value="minus">-</button>   
                                <h5 class="text-grey mt-1 mr-1 ml-1">{{item.quantity}}</h5><i class="fa fa-plus text-success"></i>
                                <button class="minus-btn btn btn-sm btn-outline-primary" style="margin-left: 5px;" type="SUBMIT" name="add" value="add">+</button>
                            </div>
                            </form>
                            <div>
                                <h5 class="text-grey">₱{{item.total_price}}</h5>
                            </div>
                            <form method="POST" action="{% url 'Lokalapp:remove_to_cart' item.item_code.item_code %}">
                                {% csrf_token %}
                                <div class="d-flex align-items-center"><button class="btn btn-sm btn-outline-primary" type="submit">Remove</button></div>
                            </form>
                          
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="d-flex flex-column align-items-center justify-content-center  mt-3 p-2 bg-white rounded">
                            <div >
                                <h4 style="font-size: 1rem;">Subtotal:</h4>
                                <h1 style="font-size: 2rem;">₱{{totalPrice}}</h1>
                            </div>
                            <button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button" style="margin-left: px; font-size: 1rem; margin-top: 20px;">Proceed to
                                Pay</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Aligato, Julius Ponte| Kapili, Joey CSIT327 F1-C1 AY 2021 - 2022</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
{% endblock %}